// COLORS

//BACKGROUND
$backgroundpurple: #611f69;
$backgroundwhite: #ffffffff;
$backgroundgrey: #808080;
$backgroundblue: #4285f4;
$backgroundbody: #f6efe8;

//FONTS
$colorblue: #1264a3;
$colorwhite: #ffffffff;
